body{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: hsl(0, 39%, 93%);
}

.tabsBar{

    margin:0;
    padding:0;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 3rem;
    font-family:'Press Start 2P', sans-serif;
    font-weight: bolder;
    color: rgb(151, 196, 215);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.854);
    margin-bottom: 25px;
    border-radius: 50px;

}

.mainScreen{
    font-family:'Press Start 2P', sans-serif;
}

.title2{
    font-size: 1.5rem;
    font-family:'Press Start 2P', sans-serif;
    font-weight:bolder;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 3px rgb(255, 252, 252);
    background-color:rgba(173, 213, 255, 0.494);
    border-radius: 50px;
    display:inline-block;
    margin-top: 200px;
}

.react-tabs__tab:hover{
    color:rgb(150, 185, 200);
    background-color:rgb(112, 139, 255);
}

.tabs-container{
    background-color:rgba(255, 255, 255, 0.151);
    border-radius:10px;
    box-shadow: 0 6px 12px;
}

.stopwatch{
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 50px;
    background-color: rgba(255, 235, 181, 0.715);
    padding: 30px;
}

.display{
    font-size: 8rem;
    font-family:'Press Start 2P', sans-serif;
    font-weight: bolder;
    color: rgb(20, 43, 128);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.854);
    margin-bottom: 25px;
    text-shadow: 5px 5px 5px rgb(255, 255, 255);
}

.dashboard{
    font-size: 2rem;
    font-family:'Press Start 2P', sans-serif;
    font-weight:bolder;
    color: rgb(20, 43, 128);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.854);
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius: 50px;
    background-color: rgba(255, 235, 181, 0.715);
    overflow-y: scroll;
    scrollbar-color: rgb(255, 227, 196) #33333300; 
    height:1000px;
    text-shadow: 5px 5px 5px rgb(255, 255, 255);
}

.title{
    font-size: 5rem;
    font-family:'Press Start 2P', sans-serif;
    font-weight: bolder;
    color: rgb(251, 213, 130);
    text-shadow: 7px 7px 7px rgb(16, 34, 99);
    text-align: center;
}

.controls button{
    font-size: 1.5rem;
    font-weight:bold;
    font-family:'Press Start 2P', sans-serif;
    padding:10px 20px;
    margin: 5px;
    min-width: 125px;
    border:none;
    border-radius:10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

.credits{
    color: rgb(251, 213, 130);
    font-size: 60%;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    text-align: right;
}

.art{
    font-size: 1.5rem;
    color: rgb(255, 243, 216);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.start-button{
    background-color: rgb(164, 214, 144)
}

.start-button:hover{
    background-color: rgb(118, 167, 99)
}

.stop-button{
    background-color: rgb(186, 105, 105)
}

.stop-button:hover{
    background-color: rgb(139, 79, 79)
}

.reset-button{
    background-color: rgba(91, 91, 255, 0.683)
}

.reset-button:hover{
    background-color: rgb(60, 60, 174)
}

.bg{
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/cafebg5.jpg');
    z-index: -1;
    background-position:center;
    top: 0;
    left: 0;
}

.message{
    color: rgb(20, 43, 128);
    text-shadow: 2px 2px 2px rgb(91, 123, 241);
    font-size:3rem;
    text-align:center;
}

.messageCoins{
    color: rgb(251, 213, 130);
    text-shadow: 5px 5px 5px rgb(0, 5, 22);
    font-size:5rem;
    text-align:center;
}


.item{
    margin-left:50px;
    margin-top:50px;
    margin-bottom:50px;
    font-size: 7px;
    font-weight:bold;
    font-family:'Press Start 2P', sans-serif;
    color: rgb(2, 12, 79);
    border-radius:10px;
}

.item:hover{
    background-color: rgb(118, 154, 188)
}

.browse{
    background-color: rgba(238, 244, 255, 0.483);
    overflow-y: scroll;
    scrollbar-color: rgba(19, 53, 112, 0.483) rgba(181, 208, 255, 0.483);
    max-width:1700px;
    max-height:1500px;
}

.note{
    text-align:center;
    color: rgb(192, 219, 255);
    text-shadow:2px 2px 0.5px rgb(0, 0, 0);
}

.cart{
    background-color: rgba(238, 244, 255, 0.483);
    overflow-y: scroll;
    scrollbar-color: rgba(19, 53, 112, 0.483) rgba(181, 208, 255, 0.483);
    max-width:2000px;
    max-height:1100px;
    color: rgb(20, 43, 128);
    text-shadow: 0.5px 0.5px 2px rgb(255, 255, 255);
    font-size:2rem;
}

.cartdisplay{
    text-align:center;
    text-shadow:0.5px 0.5px 0.5px white;
}

.checkoutButton{
    font-size: 3rem;
    font-weight:bold;
    font-family:'Press Start 2P', sans-serif;
    padding:10px 20px;
    border:none;
    border-radius:10px;
    cursor: pointer;
    color: rgb(20, 43, 128);
    background-color:rgba(255, 230, 160, 0.757);
    margin: 0 auto;
    display: block;
    margin-bottom:25px;
}

.checkoutButton:hover{
    background-color:rgba(227, 188, 79, 0.757);
}

.mainMessage{
    text-align:center;
    color: rgb(20, 43, 128);
    text-shadow: 0.5px 0.5px 2px rgb(255, 255, 255);
    font-size:2rem;
}

.tiles{
    display:grid;
    place-content:center;
}

.message2{
    text-align:center;
    color: rgb(20, 43, 128);
    text-shadow: 0.5px 0.5px 2px rgb(255, 255, 255);
    font-size:1.5rem;
}

.mainCafe{
    background-color: rgba(238, 244, 255, 0.483);
    min-height: 1350px;
}

